<div class="flex flex-col md:flex-row items-center bg-[#2A2A2A] rounded-lg shadow-md p-4 space-y-4 md:space-y-0 md:space-x-6">
  <img [src]="cartItem.food.imageUrl" [alt]="cartItem.food.name"
       class="w-32 h-32 object-cover rounded-md flex-shrink-0">

  <div class="flex-grow flex flex-col md:flex-row md:items-center justify-between text-center md:text-left w-full">
    <a routerLink="/food/{{cartItem.food.id}}"
       class="text-xl font-semibold text-white hover:text-[#0589c2] mb-2 md:mb-0 md:mr-4">
      {{cartItem.food.name}}
    </a>

    <div class="flex items-center justify-center md:justify-start mb-2 md:mb-0 md:mr-4">
      <label for="quantity-{{cartItem.food.id}}" class="sr-only">Quantity</label>
      <select id="quantity-{{cartItem.food.id}}" #quantitySelect
              (change)="changeQuantity(cartItem.food.id, quantitySelect.value)"
              class="bg-gray-700 text-gray-200 border border-gray-600 rounded-md py-2 px-3 focus:outline-none focus:ring-2 focus:ring-red-500 appearance-none cursor-pointer text-base">
        <option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]" [value]="i" [selected]="i == cartItem.quantity">
          {{i}}
        </option>
      </select>
    </div>

    <div class="text-2xl font-bold text-green-400 mb-2 md:mb-0 md:mr-4">
      {{cartItem.price | currency}}
    </div>

    <button (click)="removeFromCart(cartItem.food.id)"
            class="bg-[#0589c2] hover:bg-[#046e9b] text-white p-3 cursor-pointer rounded-full transition-colors duration-200 flex-shrink-0 mx-auto md:mx-0">
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path>
      </svg>
      <span class="sr-only">Remove item</span>
    </button>
  </div>
</div>
