<div class="flex flex-col justify-center items-center mt-8">
  <app-search></app-search>
  <app-tags></app-tags>

  <ng-container *ngIf="foods && foods.length > 0; else noFoodFound">
    <ul class="flex justify-center items-center flex-wrap list-none gap-4 mt-4">
      <li *ngFor="let food of foods">
        <app-food-card [food]="food"></app-food-card>
      </li>
    </ul>
  </ng-container>

  <ng-template #noFoodFound>
    <div class="text-center p-8 bg-[#2A2A2A] rounded-xl shadow-lg mt-8 max-w-md">
      <p class="text-3xl text-gray-400 mb-6">No Food Found!</p>
      <p class="text-lg text-gray-400 mb-8">It looks like there are no items matching your criteria, or the list is empty.</p>
      <a routerLink="/" class="cursor-pointer bg-[#0589c2] hover:bg-[#046e9b] text-white font-bold py-3 px-6 rounded-lg text-lg transition-colors duration-200">
        Go back to Home
      </a>
    </div>
  </ng-template>
</div>
