<header class="border-b border-b-[gray-400] bg-[#242424]">

  <div class="flex justify-between items-center h-16">
    <div>
      <a href="#" routerLink="/" class="text-white hover:text-[#0589c2] p-4 text-xl font-semibold">Food Mine!</a>
      <a *ngIf="authService.currentUserValue" href="#" routerLink="/" class="text-white hover:text-[#0589c2] p-4 text-xl font-semibold">{{authService.currentUserValue?.username}}</a>
    </div>
    <nav>

      <ul class="flex">

        <li class="">

          <a *ngIf="!authService.currentUserValue" routerLink="/login-page" class="text-white hover:text-[#0589c2] inline-block p-4">

            LogIn

          </a>

          <button *ngIf="authService.currentUserValue" (click)="handleLogout()" class="text-white hover:text-[#0589c2] inline-block p-4">

            LogOut

          </button>

        </li>

        <li class="relative">

          <a (click)="goToCart()" href="#" routerLink="/cart-page" class="text-white hover:text-[#0589c2] inline-block p-4">

            Cart

          </a>

          <div *ngIf="cartItemCount > 0"

               class="absolute top-4 right-3 transform -translate-y-1/2 translate-x-1/2

bg-blue-600 text-white text-xs font-bold

rounded-full h-5 w-5 flex items-center justify-center

shadow-md notification-badge">

            {{cartItemCount}}

          </div>

        </li>

      </ul>

    </nav>

  </div>

</header>
